body,
html {
    height: 100%;
}

.bgimg-1 {
    background-image: url("../img/panorama.jpg");
    height: 89%;
    position: relative;
    opacity: 0.80;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1px) grayscale(60%);
}

#options {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
}

#login-container {
    position: absolute;
    top: 25%;
    bottom: auto;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.options-text {
    vertical-align: bottom;
}

  /* label color */
  .input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #000;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #000;
  }